@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'matter';
	src: url('./fonts/matter-light.ttf') type='ttf';
}

body {
	font-family: 'matter', Arial, Helvetica, sans-serif;
}